@import "tailwindcss";

/* Define custom properties */
:root {
  --font-poppins: "Poppins", sans-serif;
  --font-sofia: "Sofia", sans-serif;

  --bg-main: #121212;

  font-family: var(--font-poppins), system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: var(--bg-main);

  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default styles (for larger screens) */
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

/* Medium screens (tablets & smaller desktops) */
@media screen and (max-width: 1024px) {
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Small screens (mobile landscape) */
@media screen and (max-width: 768px) {
  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Extra small screens (mobile portrait) */
@media screen and (max-width: 480px) {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
